.containerTemplate {
  align-items: flex-end;
  background: #0d2035;
  border-top: 0.0625rem solid #132a44;
  bottom: 0;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  position: fixed;
  width: 100%;
  z-index: 16;
}

.NavMovile {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 3.25rem;
  justify-content: center;
}
.menuIcons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 26.75rem;
  width: 100%;
}

.svg {
  align-items: center;
  background-color: #0000;
  color: #fffffe;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: left;
  text-decoration: none;
  transition: all 0.2s ease-out;
  -webkit-user-select: none;
  user-select: none;
  width: 20%;
  position: relative;
}
