.logo {
  /* display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; */
 justify-content: flex-start;
  display: flex;
  flex-shrink: 0;
  height: 4.375rem;
  
}

.logo a {
  /* display: block;
  left: 0; */
  padding: 1rem;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  height: calc(100% - 4.375rem);
}

.navbarMenu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* overflow-x: visible;
  overflow-y: auto; */
  padding: 0 1rem;
}
