.logo {
  justify-content: flex-start;
  display: flex;
  flex-shrink: 0;
  height: 4.375rem;
}

.logo a {
  padding: 1rem;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
}

.fixedWidhtMenu {
  width: 320px;
}

.Menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding: 0 1rem;
}
