.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #78bffd31;
}

.logo {
  display: inline-block;
}
.logo a {
  display: block;
}
.navbar {
}
